<div class="w-full min-h-[40px]">
  <div class="flex items-center justify-between gap-3">

    <div class="min-w-0">
      <div class="text-[14px] font-semibold text-black leading-tight">
        {{ ticker }}
      </div>

      @if (mode === 'owned') {
      <div class="text-[12px] text-[#959595] leading-tight truncate">
        {{ quantity | number : '1.2-2' }} shares
      </div>
      } @else {
      <div class="text-[12px] text-[#959595] leading-tight truncate">
        {{ description }}
      </div>
      }
    </div>

    <div class="flex items-center gap-3 shrink-0 justify-between">
      <div class="text-base font-medium text-black">
        {{ price | currency:currencyCode }}
      </div>

      @if (mode === 'owned' && delta !== undefined && delta !== null && delta > 0) {
      <div
        class="rounded-md bg-[#22B692] py-0.5 border border-transparent text-sm text-white transition-all shadow-sm min-w-[70px] text-center">
        {{ delta! >= 0 ? '+' : ''}}{{ (delta || 0) | number:'1.0-2' }}%
      </div>
      }
      @if (mode === 'owned' && delta !== undefined && delta !== null && delta == 0) {
      <div
        class="rounded-md bg-gray-600 py-0.5 border border-transparent text-sm text-white transition-all shadow-sm min-w-[70px] text-center">
        {{ delta! >= 0 ? '+' : ''}}{{ (delta || 0) | number:'1.0-2' }}%
      </div>
      }
      @if (mode === 'owned' && delta !== undefined && delta !== null && delta < 0) {
      <div
        class="rounded-md bg-red-600 py-0.5 border border-transparent text-sm text-white transition-all shadow-sm min-w-[70px] text-center">
        {{ delta! >= 0 ? '+' : ''}}{{ (delta || 0) | number:'1.0-2' }}%
      </div>
      }
    </div>
  </div>
</div>