
ion-content {
  --overflow: hidden; 
}

ion-content::-webkit-scrollbar {
  display: none;
}

ion-content {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

ion-item-option {
    --ion-item-background: transparent;
}

.custom-toast {
  --background: #1e293b;   
  --color: #ffffff;       
  --border-radius: 12px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

  text-align: center;
  font-weight: 600;
}